@import url('https://fonts.googleapis.com/css2?family=Forum&family=Ysabeau+Infant&display=swap');

*{
    box-sizing:content-box;
}
html{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(215%2c 209%2c 205%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c414.933C74.327%2c394.045%2c103.001%2c302.848%2c170.206%2c264.845C243.879%2c223.185%2c356.077%2c253.775%2c405.939%2c185.386C454.794%2c118.379%2c437.441%2c18.32%2c405.848%2c-58.352C376.953%2c-128.477%2c292.643%2c-153.219%2c242.844%2c-210.425C193.213%2c-267.438%2c188.262%2c-372.962%2c115.177%2c-392.256C41.628%2c-411.673%2c-13.766%2c-316.757%2c-87.385%2c-297.605C-164.745%2c-277.48%2c-256.891%2c-325.613%2c-321.567%2c-278.639C-387.103%2c-231.041%2c-408.798%2c-140.427%2c-414.991%2c-59.667C-420.97%2c18.297%2c-383.457%2c89.318%2c-355.382%2c162.297C-325.404%2c240.223%2c-313.288%2c333.221%2c-245.238%2c381.597C-176.609%2c430.384%2c-81.063%2c437.714%2c0%2c414.933' fill='%23c8c0ba'%3e%3c/path%3e%3cpath d='M1440 1141.859C1557.879 1149.0030000000002 1694.128 1171.8719999999998 1783.96 1095.213 1873.8020000000001 1018.546 1843.129 873.5930000000001 1884.153 762.838 1921.1190000000001 663.037 2011.137 584.073 2012.703 477.658 2014.368 364.565 1953.7 262.93 1892.915 167.54700000000003 1823.6979999999999 58.932000000000016 1758.41-68.04999999999995 1637.195-111.58299999999997 1514.616-155.60699999999997 1367.03-131.47900000000004 1257.789-60.55499999999995 1156.055 5.4950000000000045 1153.475 151.712 1081.394 249.26600000000002 1017.331 335.96799999999996 891.639 373.427 860.8 476.724 828.985 583.291 871.618 697.309 917.368 798.678 963.2660000000001 900.375 1028.563 993.8430000000001 1121.828 1055.085 1215.618 1116.671 1328.002 1135.0720000000001 1440 1141.859' fill='%23e6e2e0'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    padding: 10px;
    font-family: 'Ysabeau Infant', sans-serif;

}
h1, h2 {
    font-family: 'Forum', cursive;
    font-weight:bolder;
}
section{
    padding:5px;
    margin-bottom:10px;
}
table, th, td, tr{
    border: 1px solid #000;
    padding: 5px;
}
table{
    width:100%;
    margin:-6px;
}
td{
    vertical-align:top;
}
h1, h2, h3{
    text-align:center;
}
li{
    list-style:circle;

}
